version: 2.1

orbs:
  trellis:
    executors:
      python-27:
        docker:
          - image: 'circleci/python:2.7-stretch'
      python-36:
        docker:
          - image: 'circleci/python:3.6-stretch'
      ubuntu-1804:
        docker:
          - image: 'ubuntu:18.04'

    jobs:
      syntax-check:
        parameters:
          ansible-version:
            type: string
          python-version:
            type: enum
            enum: ['36', '27']
        executor: python-<< parameters.python-version >>
        steps:
          - run: python --version
          - checkout
          - restore_cache:
              keys:
                - syntax-check-v1-<< parameters.python-version >>-<< parameters.ansible-version >>-{{ checksum "requirements.yml" }}
          - run:
              name: Install Python dependencies in a venv
              command: |
                virtualenv venv
                . venv/bin/activate
                pip install ansible<< parameters.ansible-version >>
                ansible --version
          - run:
              name: Install Galaxy roles
              command: |
                . venv/bin/activate
                ansible-galaxy install -r requirements.yml
          - save_cache:
              key: syntax-check-v1-<< parameters.python-version >>-<< parameters.ansible-version >>-{{ checksum "requirements.yml" }}
              paths:
                - venv
                - vendor
          - run:
              name: Check Playbook syntax
              command: |
                . venv/bin/activate
                ansible-playbook --syntax-check -e env=development deploy.yml
                ansible-playbook --syntax-check -e env=development dev.yml
                ansible-playbook --syntax-check -e env=development server.yml

      provision:
        parameters:
          ansible-version:
            type: string
          python-version:
            type: enum
            enum: ['3', '']
        executor: ubuntu-1804
        steps:
          - run: apt-get update
          - run: apt-get install -y python<< parameters.python-version >> python<< parameters.python-version >>-pip openssl-client openssl-server
          - run: /usr/bin/python<< parameters.python-version >> --version
          - run: python<< parameters.python-version >> --version
          - run: pip<< parameters.python-version >> --version

          - run: pip<< parameters.python-version >> install ansible<< parameters.ansible-version >>
          - run: ansible --version

          - checkout

          - restore_cache:
              keys:
                - provision-v1-<< parameters.python-version >>-<< parameters.ansible-version >>-{{ checksum "requirements.yml" }}
          - run: ansible-galaxy install -r requirements.yml
          - save_cache:
              key: provision-v1-<< parameters.python-version >>-<< parameters.ansible-version >>-{{ checksum "requirements.yml" }}
              paths:
                - vendor
          - run: ansible-playbook server.yml -e env=production -e env_groups=production -e ansible_python_interpreter=/usr/bin/python<< parameters.python-version >> --connection=local

workflows:
  # syntax-check:
  #   jobs:
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-latest
  #         python-version: '36'
  #         ansible-version: ''
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-2.8
  #         python-version: '36'
  #         ansible-version: ~=2.8.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-2.7
  #         python-version: '36'
  #         ansible-version: ~=2.7.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-2.6
  #         python-version: '36'
  #         ansible-version: ~=2.6.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-2.5
  #         python-version: '36'
  #         ansible-version: ~=2.5.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-36-ansible-2.4
  #         python-version: '36'
  #         ansible-version: ~=2.4.0

  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-latest
  #         python-version: '27'
  #         ansible-version: ''
  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-2.8
  #         python-version: '27'
  #         ansible-version: ~=2.8.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-2.7
  #         python-version: '27'
  #         ansible-version: ~=2.7.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-2.6
  #         python-version: '27'
  #         ansible-version: ~=2.6.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-2.5
  #         python-version: '27'
  #         ansible-version: ~=2.5.0
  #     - trellis/syntax-check:
  #         name: syntax-check-python-27-ansible-2.4
  #         python-version: '27'
  #         ansible-version: ~=2.4.0

  provision:
    jobs:
      - trellis/provision:
          name: provision-python-3-ansible-2.7
          python-version: '3'
          ansible-version: ~=2.7.0
      - trellis/provision:
          name: provision-python-2-ansible-2.7
          python-version: ''
          ansible-version: ~=2.7.0
